html, body
{
    width: 100%;
    height: 100%;
    margin-left: -9.2px;
    padding: 0px;
   
}


#gameField{
    margin: 20px;
    margin-top: 70px;
   
}

.game-cell{
    width: 50px;
    height: 50px;
    background: rgb(15, 15, 15);
    overflow: hidden;
}

.game-cell:hover{
    background: #afafaf;
}

#gameSelector{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid #771977;
}

.figure-X{
    color: rgb(157, 0, 189);
    background: rgb(15, 15, 15);
}

.figure-O{    
    color: rgb(255, 136, 0);    
    background: rgb(15, 15, 15);
}

.figure{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-bottom: 0px;
}

.menu{
    position: fixed;
    display: flex;
    justify-content: right;
    top: 0; 
    left: 0;
    width: 100%;
    height: 50px;
    background: #31104d;
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
}

.menu__figure{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
    margin: 0px 10px;
}

.menu__text{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
    width: 90px;
}

#setButton{
    height: 60px;
    margin: 0px 10px;
}

#focusBtn{
    height: 60px;
    margin: 0px 10px;
}

.cell-weight{
    display: block;
    width: 50%;
    margin: 0px auto;
    background: #777;
    color: #fff;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    padding: 0px 5px;
    border-radius: 3px;
}




/*winnerWindow settings*/

.window{
    visibility: hidden;
    position: fixed;
    top: 200px;
    width: 300px;
    left: calc(50% - 150px);
    background: #290841;
    box-shadow: 10px 10px 5px 0px rgba( 0,0,0, 0.3 );
    padding: 30px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: black;
    color: rgb(187, 187, 187);

}

.window h3{
    text-align: center;
    color: rgb(187, 187, 187);
    font-weight: 200;
    border-bottom: 1px solid #777;
    
}

.btn{
    background: rgb(37, 37, 37);
    color: #a851d1;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    box-shadow: 5px 5px 5px 0px rgba( 0,0,0, 0.2 );
}

#againBtn{
    display: block;
    width: 70%;
    margin: 30px auto;     
    color: rgb(187, 187, 187);
}

.status{
    text-align: center;

}

.textX{
    color: rgb(157, 0, 189);
    font-size: 40px;
}

.textO{
    color: rgb(255, 136, 0);
    font-size: 40px;
}


/*settings window*/

#settingsButton{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    cursor: pointer;
    opacity: 0.7;
}

#settingsButton:hover{
    opacity: 1;
}

#okBtn{
    display: block;
    width: 70%;
    margin: 30px auto; 
    color: rgb(187, 187, 187);
}